html{
    background-color: #202020;
    font-size: 120%;
}

.html{
    color: 	#909090;
    text-align: center;
}

.border{
    
    border: 3px solid #909090;
    margin: 20%;
}

.timeline{
    
   max-width: 700px;
}

h1{
    color: #ac4646;
}

h2{
   color:  #ac4646;
}

h3{
    color: #ac4646;
}

h4{
    color: #ac4646;
}

.img{ 
    width: 800px;
}
.link{
    color: #909090;
    font-size: 150%;
}
